<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/static/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/vue.js"></script>
    <style>
        .page-wrapper{
            margin-left: 0;
        }
        .container-fluid{
            background-color: rgb(50,50,50);
        }
        #logo{
            background-image: url("/static/logos/auth.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body class="fix-header fix-sidebar card-no-border">

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-8">
                        <div id="logo" class="card" v-bind:style="{ height: content_height + 'px' }">
                            <div style="background-color: white;max-width: 30%;padding: 30px;">
                                <img src="{{ logo }}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" >
                        <div class="card" v-bind:style="{ height: content_height + 'px' }">
                            <form style="margin: auto; padding: 30px;" method="POST">
                              {% csrf_token %}
                              <div class="row">
                                  <div class="col"></div>
                                  <h2 class="text-primary">{{ label }}</h2>
                                  <div class="col"></div>
                              </div>
                              <div class="form-group">
                                <label for="i-login" v-bind:class="{ 'text-danger': errors.login }">[[errors.login || "Login"]]</label>
                                <input value="{{ login }}" type="text" class="form-control" id="i-login" name="login" aria-describedby="loginHelp" placeholder="Enter username">
                                <small id="loginHelp" class="form-text text-muted">ask your admin for auth credentials.</small>
                              </div>
                              <div class="form-group">
                                <label for="i-password" v-bind:class="{ 'text-danger': errors.password }">[[errors.password || "Password"]]</label>
                                <input type="password" class="form-control" id="i-password" name="password" placeholder="Enter password">
                              </div>
                              <div class="row">
                                <button type="submit" class="btn btn-primary" style="margin: auto;">Submit</button>
                              </div>
                                <div class="row" style="margin-top: 30px;">
                                    <div class="col"></div>
                                    <a @click.prevent="" href="">Scan to authorize with QR</a>
                                    <div class="col"></div>
                                </div>
                              <div class="row">
                                <div class="col"></div>
                                <img src="http://178.63.1.220:8082/qr/ce77ed0d8cdc4faf877bc9c6adc69154" style="width: 300px;">
                                <div class="col"></div>
                              </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                © 2020 Networks Synergy by networks-synergy.kz
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/js/sidebarmenu.js"></script><!--stickey kit -->
    <script src="/static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="/static/assets/plugins/flot/jquery.flot.js"></script>
    <script src="/static/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/static/js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tagcanvas.min.js"></script>

    {{ errors|json_script:"errors-data" }}
    <script>
        var errors_data = JSON.parse(document.getElementById('errors-data').textContent);
        var ws_auth = null;

        var app = new Vue({
            el: '#main-wrapper',
            delimiters: ['[[', ']]'],
            data: {
                content_height: 300,
                errors: errors_data
            },
        });

        $(function(){
            app.$data.content_height = $("#main-wrapper").height() - 70;
            ws_auth = new WebSocket("{{ ws_url }}");
            ws_auth.onclose = function(event) {
                console.log("OnClode " + error.message);
            };
            ws_auth.onmessage = function(event) {
              console.log("Получены данные " + event.data);
            };
            ws_auth.onerror = function(error) {
                console.log("Ошибка " + error.message);
            };
            ws_auth.onopen = function() {
                console.log("OnOpen");
            };
        });
    </script>

</body>
</html>