<style>

    pre {
       background-color: ghostwhite;
       border: 1px solid silver;
       padding: 10px 20px;
       margin: 20px;
       }
    .json-key {
       color: brown;
       }
    .json-value {
       color: navy;
       }
    .json-string {
       color: olive;
       }
</style>
<script>
    if (!library)
       var library = {};

    function get_mime_type(url){
        var extension = url.split('.').pop();
        if (["png", "bmp", "jpg", "jpeg"].includes(extension)) {
            return "image/" + extension;
        } else {
            return "application/" + extension;
        }
    }

    library.json = {
       replacer: function(match, pIndent, pKey, pVal, pEnd) {
          var key = '<span class=json-key>';
          var val = '<span class=json-value>';
          var str = '<span class=json-string>';
          var r = pIndent || '';
          if (pKey)
             r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
          if (pVal)
             r = r + (pVal[0] == '"' ? str : val) + pVal + '</span>';
          return r + (pEnd || '');
          },
       prettyPrint: function(obj) {
          var jsonLine = /^( *)("[\w@~]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
          return JSON.stringify(obj, null, 3)
             .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
             .replace(/</g, '&lt;').replace(/>/g, '&gt;')
             .replace(jsonLine, library.json.replacer);
          }
       };

    library.transactions = {
        build_init_ledger: function(id, ledger_name, ttl, genesis){
            var txn = {
                "@type": "https://github.com/Sirius-social/TMTM/tree/master/transactions/1.0/create-ledger",
                "@id": id,
                "name": ledger_name,
                "genesis": genesis,
                "time_to_live": ttl,
            }
            return txn;
        },
        build_txn_ledger: function(id, no, date, cargo, departure_station, arrival_station, doc_type, ledger_name, waybill_no, waybill_wagon_no, attachments, ttl){
            var attach_array = [];
            for (var index in attachments) {
                var attach = attachments[index];
                attach_array.push(
                    {
                        "@id": "document-" + index,
                        "mime_type": attach.mime_type || get_mime_type(attach.url),
                        "filename": attach.filename,
                        "data": {
                            "json": {
                                "url": attach.url,
                                "md5": attach.md5
                            }
                        }
                    }
                );
            }
            var txn = {
                "@type": "https://github.com/Sirius-social/TMTM/tree/master/transactions/1.0/issue-transaction",
                "@id": id,
                "no": no,
                "date": date,
                "cargo": cargo,
                "departure_station": departure_station,
                "arrival_station": arrival_station,
                "doc_type": doc_type,
                "ledger": {
                    "name": ledger_name
                },
                "~attach": attach_array
            }
            if (doc_type === "WayBill") {
                txn.waybill = {
                    "no": waybill_no,
                    "wagon_no": waybill_wagon_no
                }
            }
            if (ttl) {
                txn.time_to_live = ttl
            }
            return txn;
        }
    }
</script>
