{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">
    <title>{{ label }} - powered by Sirius blockchain</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/static/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/vue.js"></script>
    <script src="https://unpkg.com/vue-scroll-loader"></script>
    <script src="https://unpkg.com/browse/vue-scroll-progress@1.1.2/src/vue-scroll-progress.js"></script>
    {% include "libraries.html" %}
    <style>
        .modal-lg {
            max-width:70%;
        }
    </style>
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Modal Txn details -->
        <!-- ============================================================== -->
        <div id="modal-txn-detail" class="modal" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.2);overflow-y: auto;">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">Transaction details</h3>
                <button @click.prevent="close_modal_forms" type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-modal-close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div id="dev-txn-detail" style="white-space: pre-wrap;border:lightgray dotted 1px;padding:5px;width: 100%; height: 100%;">
                  </div>
              </div>
              <div class="modal-footer">
                <button @click.prevent="close_modal_forms" type="button" class="btn btn-primary" >Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Modal Docs Viewer -->
        <!-- ============================================================== -->
        <div id="modal-doc-viewer" class="modal" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.2);overflow-y: auto;">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 id="title-doc-viewer" class="modal-title"></h3>
                <button @click.prevent="close_modal_forms" type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-modal-close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div id="div-doc-viewer" style="white-space: pre-wrap;border:lightgray dotted 1px;padding:5px;width: 100%; height: 100%;min-height:500px;">
                  </div>
              </div>
              <div class="modal-footer">
                <button @click.prevent="close_modal_forms" type="button" class="btn btn-primary" >Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- =================View source code for init Ledger -->
        <!-- ============================================================== -->
        <div id="modal-smart-contract-init-ledger" class="modal" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.2);overflow-y: auto;">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 id="title-doc-viewer" class="modal-title">
                    Init ledger smart-Contract source code
                    <a href="https://github.com/Sirius-social/sirius-sdk-python/tree/master/sirius_sdk/agent/consensus/simple#use-case-1-creating-new-ledger" target="_blank">click to see details...</a>
                </h3>
                <button @click.prevent="close_modal_forms" type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-modal-close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <iframe style="width: 100%; height:600px;" src="{{ smart_contract_init_ledger_url }}">

                  </iframe>
              </div>
              <div class="modal-footer">
                <button @click.prevent="close_modal_forms" type="button" class="btn btn-primary" >Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- =================View source code for Commit Transactions -->
        <!-- ============================================================== -->
        <div id="modal-smart-contract-commit-txns" class="modal" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.2);overflow-y: auto;">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 id="title-doc-viewer" class="modal-title">
                    Commit txns smart-contract source code
                    <a href="https://github.com/Sirius-social/sirius-sdk-python/tree/master/sirius_sdk/agent/consensus/simple#use-case-2-accept-transaction-to-existing-ledger-by-all-dealers-in-microledger-space" target="_blank">click to see details...</a>
                </h3>
                <button @click.prevent="close_modal_forms" type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-modal-close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <iframe style="width: 100%; height:600px;" src="{{ smart_contract_commit_txns_url }}">

                  </iframe>
              </div>
              <div class="modal-footer">
                <button @click.prevent="close_modal_forms" type="button" class="btn btn-primary" >Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Modal MAke Transactions -->
        <!-- ============================================================== -->
        <div id="modal-make-transactions" class="modal" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.2);overflow-y: auto;">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 id="title-doc-viewer" class="modal-title">Transaction Master</h3>
                <button @click.prevent="close_modal_forms" type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-modal-close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="min-height: 600px;">
                  <div style="width: 100%;">
                      <form id="form-txn" v-if="form_step == 0">
                          <div class="row col-sm-3 my-1" >
                              <label for="i-ledger-name">Ledger name</label>
                              <input v-model="form.ledger_name" id="i-ledger-name" name="ledger-name" type="text" class="form-control" placeholder="container ID" :readonly="op_code != 1">
                          </div>
                          <h6 style="margin-top: 30px;" class="text-secondary">Genesis transactions</h6>
                          <div style="width: 100%; padding: 10px; margin: 5px; border-color: #79aec8;border-width: 1px;border-style: dashed;border-radius: 5px;">
                                <div class="row" >
                                    <div class="col">
                                      <label for="i-no">No</label><br/>
                                      <input v-model="form.no" id="i-no" name="no" type="text" class="form-control-sm" placeholder="20-001-0000002">
                                    </div>
                                    <div class="col">
                                      <label for="i-date">Date</label><br/>
                                      <input v-model="form.date" id="i-date" name="date" type="text" class="form-control-sm" placeholder="{{ cur_date }}">
                                    </div>
                                    <div class="col">
                                      <label for="i-cargo">Cargo</label><br/>
                                      <input v-model="form.cargo" id="i-cargo" name="cargo" type="text" class="form-control-sm" placeholder="Арбузы">
                                    </div>
                                    <div class="col">
                                      <label for="i-departure-station">Departure station</label><br/>
                                      <input v-model="form.departure_station" id="i-departure-station" name="departure-station" type="text" class="form-control-sm" placeholder="673702 Караганды">
                                    </div>
                                    <div class="col">
                                      <label for="i-arrival-station">Arrival station</label><br/>
                                      <input v-model="form.arrival_station" id="i-arrival-station" name="arrival-station" type="text" class="form-control-sm" placeholder="572107 Поти">
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col">
                                      <label for="i-doc-type">Doc Type</label> <br/>
                                      <select v-model="form.doc_type" id="i-doc-type" class="custom-select custom-select-sm">
                                          {% for item in doc_types.values %}
                                              <option value="{{ item.id }}" {% if item.id == doc_types.default %} selected {% endif %}>{{ item.caption}}</option>
                                          {% endfor %}
                                      </select>
                                    </div>
                                    <div class="col" v-if="form_waybill_enabled">
                                        <label for="i-waybill-no">No</label> <br/>
                                        <input v-model="form.waybill_no" id="i-waybill-no" name="waybill-no" type="text" class="form-control-sm" placeholder="11282656">
                                    </div>
                                    <div class="col" v-if="form_waybill_enabled">
                                        <label for="i-wagon-no">Wagon</label> <br/>
                                        <input v-model="form.waybill_wagon_no" id="i-wagon-no" name="wagon-no" type="text" class="form-control-sm" placeholder="1221230">
                                    </div>
                                    <div class="col">
                                    </div>
                                    <div class="col">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col" >

                                        <label for="i-attachments">Attachments</label>
                                        <a @click.prevent="upload_attachment()" class="srh-btn" title="Attach screen" style="margin-left: 20px;cursor:pointer;"><i class="ti-plus"></i></a>
                                        <br/>
                                        <ul id="i-attachments">
                                            <li v-for="attach in attachments">
                                                <a @click.prevent="open_doc_view_in_tab(attach.url)" :href="attach.url">[[ attach.filename ]]  (md5: [[ attach.md5 ]])</a>
                                                <div class="progress" v-if="!attach.done" style="max-width: 30%;">
                                                    <div class="progress-bar progress-bar-striped" role="progressbar" :aria-valuenow="attach.progress" aria-valuemin="0" aria-valuemax="100" :style="{'width': `${attach.progress}%`}">
                                                      [[ attach.progress ]]%
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                          </div>
                      </form>
                      <div v-if="form_step == 1" style="width: 90%; height: 500px;">
                          <h5 style="margin-left: 20px;" class="text-primary">Send command to websocket endpoint <span class="btn btn-primary">{{ ws_url }}</span></h5>
                          <h4 v-if="error_json_editor" style="margin-left: 20px;" class="btn btn-danger">[[ error_json_editor ]]</h4>
                          <pre id="json-editor" style="width: 100%; height: 90%;"></pre>
                      </div>
                      <div v-if="form_step == 2" style="width: 90%; height: 500px;">
                          <h3 v-if="txn_processing.error" style="margin-left: 20px;" class="btn btn-danger">[[ txn_processing.error ]]</h3>
                          <div class="row" style="margin-left: 30px;">
                              <span class="text-primary" style="margin-right: 50px;">[[ txn_processing.message ]]</span>
                              <div v-if="txn_processing.progress" class="progress" style="width: 30%; margin-bottom: 15px;">
                                <div class="progress-bar progress-bar-striped" role="progressbar" :aria-valuenow="txn_processing.progress" aria-valuemin="0" aria-valuemax="100" :style="{'width': `${txn_processing.progress}%`}">
                                  [[ txn_processing.progress ]]%
                                </div>
                              </div>
                          </div>
                          <textarea id="log-txn" style="height: 100%; width: 100%; overflow-y: auto;" readonly>

                          </textarea>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button v-if="form_step < 2 || txn_processing.done" @click.prevent="form_step -= 1" type="button" class="btn btn-secondary" ><< Back</button>
                <button v-if="form_step < 2" @click.prevent="form_step += 1" type="button" class="btn btn-success" >[[ form_next_caption ]]</button>
                <button v-if="form_step < 2 || txn_processing.done" @click.prevent="close_modal_forms" type="button" class="btn btn-primary" >Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a @click.prevent="" class="navbar-brand" href="">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/static/assets/images/logo-icon.png" height="32px" width="32px" alt="homepage" class="dark-logo" />

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <!--<img src="/static/assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
                            Sirius blockchain
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <!--
                            <form class="app-search p-l-20">
                                <input style="width: 400px;" type="text" class="form-control" placeholder="Поиск по контейнерам и морским документам ..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                            -->
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/static/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-5" />Markarn Doe</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li v-for="(menu, index) in left_menu" v-bind:class="{ active: active_menu == index }">
                           <a v-if="menu.enabled" @click.prevent="active_menu = index" href="#" class="waves-effect"><i v-bind:class="menu.class" aria-hidden="true"></i>[[menu.caption]]</a>
                        </li>

                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row page-titles">
                    <img src="{{ logo }}" style="max-height: 50px;margin-right: 30px;"/>
                    <h1 class="text-secondary">{{ label }}</h1>
                </div>
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">[[breadcrumb]]</li>
                        </ol>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <input id="i-attach-file" type="file" hidden/>
                    <!-- Column -->
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-block">
                                <form class="app-search p-l-20">
                                    <input v-model="search_ledger" style="width: 350px;" type="text" class="form-control" placeholder="Выберите Ledger ...">
                                    <a class="srh-btn" style="margin-left: -30px;"><i class="ti-search"></i></a>
                                    <a @click.prevent="open_transaction_form(1)" class="srh-btn" title="Добавить новый Ledger" style="margin-left: 20px;cursor:pointer;"><i class="ti-plus"></i></a>
                                    <a @click.prevent="open_smart_contract_init_ledger_form()" class="srh-btn" title="Smart contract source code" style="margin-left: 5px;cursor:pointer;"><i class="ti-link"></i></a>
                                </form>
                                <div id="tagsContainer">
                                 <canvas width="400" height="400" id="tagsCanvas">
                                  <p>Anything in here will be replaced on browsers that support the canvas element</p>
                                  <ul>
                                   <li v-for="ledger in filtered_ledgers">
                                       <a @click.prevent="ledger_selected(ledger)" href="" >[[ledger.name]]</a>
                                   </li>

                                  </ul>
                                 </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-block">
                                <h4 v-if="!selected_ledger" class="text-danger">Выберите Ledger для работы с транзакциями</h4>
                                <h4 v-if="selected_ledger" class="card-title text-primary">
                                    Ledger: [[selected_ledger.name]]
                                    <a @click.prevent="open_transaction_form(2)" class="srh-btn" title="Add transactions" style="margin-left: 20px;cursor:pointer;"><i class="ti-plus"></i></a>
                                    <a @click.prevent="open_smart_contract_commit_txns_form()" class="srh-btn" title="Smart contract source code" style="margin-left: 5px;cursor:pointer;"><i class="ti-link"></i></a>
                                </h4>

                                <scroll-loader :loader-method="get_loader_list" :loader-disable="!loader_enable" :loader-size="300">
                                </scroll-loader>

                                <!--
                                <iframe src="https://docs.google.com/gview?url=https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf&embedded=true"></iframe>
                                -->

                                <table v-if="!loader_enable" class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col"># seq_no</th>
                                      <th scope="col">No</th>
                                      <th scope="col">Metadata</th>
                                      <th scope="col">Signer</th>
                                      <th scope="col">Attachments</th>
                                      <th scope="col">Details...</th>
                                    </tr>
                                  </thead>
                                  <tbody style="font-size: 75%;">
                                    <tr v-for="txn in transactions">
                                      <th scope="row">[[txn.seq_no]]</th>
                                      <td>[[txn.txn.no]]</td>
                                      <td style="max-width: 150px;">[[txn.metadata]]</td>
                                      <td><img style="max-height: 32px;" :src="txn.signer_icon"/></td>
                                      <td>
                                          <ul>
                                              <li v-for="attachment in txn.attachments">
                                                  <a @click.prevent="show_doc_viewer(attachment.data.json.url, attachment.filename, attachment.data.json.md5)" href="">[[ attachment.filename ]]</a>
                                                  <svg @click.prevent="open_link_in_tab(attachment.data.json.url)" style="cursor: pointer; margin-left: 10px;" title="Download" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                      <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                                      <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                                  </svg>
                                              </li>
                                          </ul>
                                      </td>
                                      <td><button @click.prevent="show_txn_details(txn.txn);" style="cursor: pointer;" class="btn-primary">Details</button></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                © 2020 Networks Synergy by networks-synergy.kz
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
    <script src="/static/js/jquery.json-editor.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="/static/assets/plugins/flot/jquery.flot.js"></script>
    <script src="/static/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/static/js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tagcanvas.min.js"></script>

    {{ ledgers|json_script:"ledgers-data" }}
    <script>
        var ws_transactions = null;
        var json_editor = null;
        var ledgers_data = JSON.parse(document.getElementById('ledgers-data').textContent);
        function uuid4() {
          return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
          });
        }

        var app = new Vue({
            el: '#main-wrapper',
            delimiters: ['[[', ']]'],
            data: {
                scanning: false,
                ledgers: ledgers_data,
                search_ledger: null,
                selected_ledger: null,
                left_menu: [
                    {'caption': 'Transactions', 'class': 'fa fa-columns m-r-10', 'enabled': true},
                    {'caption': 'ГУ-11', 'class': 'fa fa-table m-r-10', 'enabled': false},
                    {'caption': 'ГУ-12', 'class': 'fa fa-table m-r-10', 'enabled': false},
                    {'caption': 'Грузоперевозки', 'class': 'fa fa-globe m-r-10', 'enabled': false},
                    {'caption': 'Морские документы', 'class': 'fa fa-globe m-r-10', 'enabled': false}
                ],
                active_menu: 0,
                loader_enable: false,
                transactions: [],
                // Forms
                attachments: [
                    //{'filename': 'file1.png', 'md5': 'xxx', 'url': 'https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf', 'progress': 50, 'done': true, 'canceled': false, 'mime_type': null},
                    //{'filename': 'file2.png', 'md5': 'xxx', 'url': 'https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf', 'progress': 10, 'done': true, 'canceled': false, 'mime_type': null}
                ],
                form_step: 0,
                op_code: null,
                form: {
                    "no": null,
                    "date": null,
                    "cargo": null,
                    "departure_station": null,
                    "arrival_station": null,
                    "doc_type": "{{ doc_types.default }}",
                    "ledger_name": null,
                    "waybill_no": null,
                    "waybill_wagon_no": null
                },
                error_json_editor: null,
                txn_processing: {
                    error: null,
                    progress: 0,
                    done: false,
                    message: null
                }
            },
            computed: {
                filtered_ledgers: function(){
                    if (this.search_ledger) {
                        var ret = [];
                        for (var i = 0; i < ledgers_data.length; i++) {
                          if (ledgers_data[i].name.toLowerCase().includes(this.search_ledger.toLowerCase())) {
                              ret.push(ledgers_data[i]);
                          }
                        }
                        return ret;
                    }
                    else {
                        return ledgers_data;
                    }
                },
                breadcrumb: function(){
                    return this.left_menu[this.active_menu].caption
                },
                form_next_caption: function (){
                    if (this.form_step > 0) {
                        return "Issue Transaction!"
                    }
                    else {
                        return "Next >>"
                    }
                },
                form_waybill_enabled: function(){
                    return ["WayBill", "Сonnaissement", "Manifest", "CargoPlan", "LogisticInfo"].includes(this.form.doc_type);
                }
            },
            watch: {
                search_ledger: function (new_value, old_value) {
                    if (new_value) {
                        setTimeout(function () {
                            $("#tagsCanvas").tagcanvas("update");
                            if (new_value.length > 0) {
                                $("#tagsCanvas").tagcanvas("tagtofront", {id: new_value[0].name});
                            }
                        }, 100);
                    }
                },
                selected_ledger: function(new_value, old_value){
                    if (new_value) {
                        this.search_ledger = null;
                    }
                },
                form_step: function(new_value, old_value){
                    var self = this;
                    if (new_value == 0) {

                    }
                    else if (new_value == 1) {
                        setTimeout(function() {
                            json_editor = new JsonEditor('#json-editor', self.build_txn_body());
                        }, 100);
                    }
                    else if (new_value == 2) {
                        this.txn_processing.done = false;
                        this.txn_processing.error = null;
                        this.txn_processing.message = null;
                        this.txn_processing.progress = 0;
                        this.start_transaction();
                    }
                }
            },
            methods: {
                ledger_selected: function(ledger){
                    this.selected_ledger = ledger;
                    this.load_transactions(ledger.id);
                },
                get_loader_list: function(){
                    return [];
                },
                load_transactions: function(ledger_id){
                    this.loader_enable = true;
                    this.transactions = [];
                    var url = "/ledgers/" + ledger_id + "/transactions"
                    var self = this;
                    $.get(
                        url,
                        function(resp){
                            //console.log(resp);
                            self.transactions = resp.results;
                            self.loader_enable = false;
                        }
                    );
                },
                close_modal_forms: function(){
                    if (this.form_step === 2 && !this.txn_processing.done) {
                        return ;
                    }
                    $("#modal-txn-detail").hide();
                    $('#modal-doc-viewer').hide();
                    $('#modal-make-transactions').hide();
                    $('#modal-smart-contract-init-ledger').hide();
                    $('#modal-smart-contract-commit-txns').hide();
                    this.form_step = 0;
                    for (var index in this.attachments) {
                        var a = this.attachments[index];
                        a.canceled = true;
                    }
                    for (var fld in this.form) {
                        this.form[fld] = null;
                    }
                    this.form.doc_type = "{{ doc_types.default }}";
                    this.attachments = [];
                    this.error_json_editor = null;
                    if (ws_transactions) {
                        ws_transactions.close();
                        ws_transactions = null;
                    }
                    $("#log-txn").text("");
                    this.txn_processing.done = false;
                    this.txn_processing.error = null;
                    this.txn_processing.message = null;
                    this.txn_processing.progress = 0;
                },
                start_transaction: function(){
                    var content = json_editor.$container.text();
                    var self = this;
                    try {
                        var txn = JSON.parse(content);
                        ws_transactions = new WebSocket("{{ ws_url }}");
                        ws_transactions.onclose = function(event) {
                            self.txn_processing.done = true;
                        };
                        ws_transactions.onmessage = function(event) {
                          // alert("Получены данные " + event.data);
                            console.log("Получены данные");
                            var obj = JSON.parse(event.data);
                            var log$ = $("#log-txn");
                            var op_code = this.op_code;
                            log$.append(
                                JSON.stringify(
                                    obj,
                                    null,
                                    '\t'
                                )
                            );
                            var textarea = log$.get(0);
                            textarea.scrollTop = textarea.scrollHeight;
                            if ('@type' in obj) {
                                var type_ = obj['@type'];
                                if (type_.includes('problem_report')) {
                                    self.txn_processing.error = obj.explain;
                                    self.txn_processing.done = true;
                                }
                                else if (type_.includes("progress")) {
                                    //console.log(obj);
                                    if (obj.progress) {
                                        self.txn_processing.progress = obj.progress;
                                    }
                                    if (obj.message) {
                                        self.txn_processing.message = obj.message;
                                    }
                                    if (obj.done && obj.ledger) {
                                        self.txn_processing.done = true;
                                        if (op_code == 1) {
                                            var ledger_name = obj.ledger.name;
                                            self.ledgers.push(obj.ledger);
                                            self.ledger_selected(obj.ledger);
                                            self.search_ledger = ledger_name;
                                        }
                                        else if (op_code === 2 && self.selected_ledger) {
                                            var ledger_name = obj.ledger.name;
                                            if (ledger_name == self.selected_ledger.name) {
                                                self.load_transactions(self.selected_ledger.id);
                                            }
                                        }
                                    }
                                }
                            }
                        };
                        ws_transactions.onerror = function(error) {
                            console.log("Ошибка " + error.message);
                            self.txn_processing.error = "Ws Error: " + error.message;
                            self.txn_processing.done = true;
                        };
                        ws_transactions.onopen = function() {
                            console.log("OnOpen");
                            ws_transactions.send(JSON.stringify(txn));
                        };

                    }catch (ex) {
                        this.error_json_editor = 'Exception: ' + ex;
                        this.form_step = 1;
                    }
                },
                show_txn_details: function(txn) {
                    $("#dev-txn-detail").html(library.json.prettyPrint(txn));
                    $("#modal-txn-detail").show();
                },
                show_doc_viewer: function (url, filename, md5) {''
                    var html = '<iframe style="width:100%;height:600px;" src="https://docs.google.com/gview?url='+url+'&embedded=true"></iframe>';
                    var div$ = $("#div-doc-viewer");
                    div$.children().remove();
                    div$.html(html);
                    $("#title-doc-viewer").html(filename + '  (md5: ' + md5 + ')');
                    $("#modal-doc-viewer").show();
                },
                open_doc_view_in_tab: function(url){
                    if (url) {
                        var link = "https://docs.google.com/gview?url=" + url;
                        window.open(link, '_blank');
                    }
                },
                open_transaction_form: function(op_code){
                    if (op_code === 1) {
                        // Init Ledger
                        this.op_code = op_code;
                    }
                    else if (op_code === 2) {

                        this.op_code = op_code;
                        this.form.ledger_name = this.selected_ledger.name;
                        if (this.transactions.length > 0) {
                            var first_txn = this.transactions[this.transactions.length - 1].txn;
                            console.log(first_txn);
                            this.form.no = first_txn.no;
                            this.form.date = first_txn.date;
                            this.form.cargo = first_txn.cargo
                            this.form.departure_station = first_txn.departure_station;
                            this.form.arrival_station = first_txn.arrival_station;
                            this.form.doc_type = first_txn.doc_type;
                            if (first_txn.waybill) {
                                this.form.waybill_no = first_txn.waybill.no || null;
                                this.form.waybill_wagon_no = first_txn.waybill.wagon_no || null;
                            }
                        }
                    }
                    else {
                        return;
                    }
                    $("#modal-make-transactions").show();
                },
                open_smart_contract_init_ledger_form: function(){
                    $("#modal-smart-contract-init-ledger").show();
                },
                open_smart_contract_commit_txns_form: function(){
                    $('#modal-smart-contract-commit-txns').show();
                },
                open_link_in_tab: function(link) {
                    if (link) {
                        console.log(link);
                        window.open(link, '_blank');
                    }
                },
                upload_attachment: function (){
                    $("#i-attach-file").trigger("click");
                },
                build_txn_body: function(){
                    var ttl = 50;
                    var attachments = [];
                    for (var index in this.attachments) {
                        var attach = this.attachments[index];
                        if (attach.done && !attach.canceled) {
                            attachments.push(
                                {
                                    'url': attach.url,
                                    'md5': attach.md5,
                                    'filename': attach.filename,
                                    'mime_type': attach.mime_type
                                }
                            );
                        }
                    }
                    var txn = library.transactions.build_txn_ledger(
                        uuid4(),
                        this.form.no,
                        this.form.date,
                        this.form.cargo,
                        this.form.departure_station,
                        this.form.arrival_station,
                        this.form.doc_type,
                        this.form.ledger_name,
                        this.form.waybill_no,
                        this.form.waybill_wagon_no,
                        attachments
                    )
                    if (this.op_code === 1) {
                        var genesis = [txn];
                        return library.transactions.build_init_ledger(
                            uuid4(), this.form.ledger_name, ttl, genesis
                        )
                    }
                    else if (this.op_code === 2) {
                        txn.time_to_live = ttl;
                        return txn;
                    }

                }
            }
        });

        $(function(){
            if( ! $('#tagsCanvas').tagcanvas({
                 textColour : 'black',
                 outlineThickness : 1,
                 maxSpeed : 0.03,
                 depth : 0.75,
                 shape: "hcylinder",
                 lock: 'x'
               })) {
                 // failed to load
                 $('#tagsContainer').hide();
               }

            $("#i-attach-file").change(function(e){
                e.preventDefault();
                var file = e.target.files[0];
                var attachment = {
                    'filename': file.name,
                    'md5': null,
                    'url': null,
                    'progress': 0,
                    'done': false,
                    'canceled': false,
                    'mime_type': file.type
                }
                app.$data.attachments.push(attachment);
                attachment = app.$data.attachments[app.$data.attachments.length-1];
                var formData = new FormData();
                formData.append('file', file);
                var url = "{{ upload_url }}";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        attachment.md5 = data.md5;
                        attachment.url = data.url;
                        attachment.done = true;
                    },
                    cache: false,
                    contentType: false,
                    processData: false,
                    xhr: function(){
                        var jqXHR = null;
                        if ( window.ActiveXObject )
                        {
                            jqXHR = new window.ActiveXObject( "Microsoft.XMLHTTP" );
                        }
                        else
                        {
                            jqXHR = new window.XMLHttpRequest();
                        }

                        //Upload progress
                        jqXHR.upload.addEventListener( "progress", function ( evt )
                        {
                            if (attachment.canceled) {
                                xhr.abort();
                            }
                            if ( evt.lengthComputable )
                            {
                                var percent = Math.round( (evt.loaded * 100) / evt.total );
                                attachment.progress = percent;
                            }
                        }, false );
                        return jqXHR;
                    }
                });
            });
        });


    </script>
</body>

</html>
