{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">
    <title>{{ label }} - powered by Sirius blockchain</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/static/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/vue.js"></script>
    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/timeline.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/bullets.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!--  Modal  -->
        <div id="modal-test" class="modal" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.2);">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">details</h5>
                <button  type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-modal-close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                  <div style="width: 100%; height: 100%;">

                  </div>
                  cc

              </div>
              <div class="modal-footer">
                <button id="btn-cancel-modal" type="button" class="btn btn-secondary" >Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a @click.prevent="" class="navbar-brand" href="">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/static/assets/images/logo-icon.png" height="32px" width="32px" alt="homepage" class="dark-logo" />

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <!--<img src="/static/assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
                            Sirius blockchain
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <!--
                            <form class="app-search p-l-20">
                                <input style="width: 400px;" type="text" class="form-control" placeholder="Поиск по контейнерам и морским документам ..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                            -->
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/static/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-5" />Markarn Doe</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li v-for="(menu, index) in left_menu" v-bind:class="{ active: active_menu == index }">
                           <a @click.prevent="active_menu = index" href="#" class="waves-effect"><i v-bind:class="menu.class" aria-hidden="true"></i>[[menu.caption]]</a>
                        </li>

                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row page-titles">
                    <img src="{{ logo }}" style="max-height: 50px;margin-right: 30px;"/>
                    <h1 class="text-secondary">{{ label }}</h1>
                </div>
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">[[breadcrumb]]</li>
                        </ol>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-sm-5">
                        <div class="card">
                            <div class="card-block">
                                <form class="app-search p-l-20">
                                    <input v-model="search_ledger" style="width: 400px;" type="text" class="form-control" placeholder="Ledgers ..."> <a class="srh-btn"><i class="ti-search"></i></a>
                                </form>
                                <div id="tagsContainer">
                                 <canvas width="500" height="300" id="tagsCanvas">
                                  <p>Anything in here will be replaced on browsers that support the canvas element</p>
                                  <ul>
                                   <li v-for="ledger in filtered_ledgers">
                                       <a @click.prevent="ledger_selected(ledger)" href="">[[ledger]]</a>
                                   </li>

                                  </ul>
                                 </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">[[selected_ledger]]</h4>
                                <div id="chartdiv" style="height: 600px; width: 100%;">

                                </div>
                                <!-- ============================================================== -->
                                <!-- START TIMELINE-->
                                <!-- ============================================================== -->

                                <!-- ============================================================== -->
                                <!-- STOP TIMELINE-->
                                <!-- ============================================================== -->

                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                © 2017 Monster Admin by wrappixel.com
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="/static/assets/plugins/flot/jquery.flot.js"></script>
    <script src="/static/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/static/js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tagcanvas.min.js"></script>
    {{ ledgers|json_script:"ledgers-data" }}
    <script>
        var ledgers_data = JSON.parse(document.getElementById('ledgers-data').textContent);
        var app = new Vue({
            el: '#main-wrapper',
            delimiters: ['[[', ']]'],
            data: {
                scanning: false,
                ledgers: ledgers_data,
                search_ledger: null,
                selected_ledger: null,
                left_menu: [
                    {'caption': 'Транзакции', 'class': 'fa fa-columns m-r-10'},
                    {'caption': 'ГУ-11', 'class': 'fa fa-table m-r-10'},
                    {'caption': 'ГУ-12', 'class': 'fa fa-table m-r-10'},
                    {'caption': 'Грузоперевозки', 'class': 'fa fa-globe m-r-10'},
                    {'caption': 'Морские документы', 'class': 'fa fa-globe m-r-10'}
                ],
                active_menu: 0
            },
            computed: {
                filtered_ledgers: function(){
                    if (this.search_ledger) {
                        var ret = [];
                        for (var i = 0; i < ledgers_data.length; i++) {
                          if (ledgers_data[i].includes(this.search_ledger)) {
                              ret.push(ledgers_data[i]);
                          }
                        }
                        return ret;
                    }
                    else {
                        return ledgers_data;
                    }
                },
                breadcrumb: function(){
                    return this.left_menu[this.active_menu].caption
                }
            },
            watch: {
                search_ledger: function (new_value, old_value) {
                    setTimeout(function() {
                        $("#tagsCanvas").tagcanvas("update");
                    }, 100);
                }
            },
            methods: {
                ledger_selected: function(name){
                    this.selected_ledger = name;
                }
            }
        });

        $(function(){
            if( ! $('#tagsCanvas').tagcanvas({
                 textColour : 'black',
                 outlineThickness : 1,
                 maxSpeed : 0.03,
                 depth : 0.75,
                 shape: "hcylinder",
                 lock: 'x'
               })) {
                 // failed to load
                 $('#tagsContainer').hide();
               }
        });

        am4core.ready(function() {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        var chart = am4core.create("chartdiv", am4plugins_timeline.SerpentineChart);
        chart.curveContainer.padding(100, 20, 50, 20);
        chart.levelCount = 3;
        chart.yAxisRadius = am4core.percent(20);
        chart.yAxisInnerRadius = am4core.percent(2);
        chart.maskBullets = false;

        var colorSet = new am4core.ColorSet();

        chart.dateFormatter.inputDateFormat = "yyyy-MM-dd HH:mm";
        chart.dateFormatter.dateFormat = "HH";

        chart.data = [{
            "category": "",
            "start": "2019-01-10 06:00",
            "end": "2019-01-10 07:00",
            "color": colorSet.getIndex(15),
            "text": "I will have\na healthy day today!",
            "textDisabled": false,
            "icon": "/wp-content/uploads/assets/timeline/timeline0.svg"
        }, {
            "category": "",
            "start": "2019-01-10 07:00",
            "end": "2019-01-10 08:00",
            "color": colorSet.getIndex(14),
            "icon": "/wp-content/uploads/assets/timeline/timeline1.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 08:00",
            "end": "2019-01-10 09:00",
            "color": colorSet.getIndex(13),
            "icon": "/wp-content/uploads/assets/timeline/timeline2.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 09:00",
            "end": "2019-01-10 10:00",
            "color": colorSet.getIndex(12),
            "icon": "/wp-content/uploads/assets/timeline/timeline2.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 10:00",
            "end": "2019-01-10 12:00",
            "color": colorSet.getIndex(11),
            "icon": "/wp-content/uploads/assets/timeline/timeline2.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 12:00",
            "end": "2019-01-10 13:00",
            "color": colorSet.getIndex(10),
            "icon": "/wp-content/uploads/assets/timeline/timeline1.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 13:00",
            "end": "2019-01-10 14:00",
            "color": colorSet.getIndex(9),
            "text": "One beer doesn't count.",
            "textDisabled": false,
            "icon": "/wp-content/uploads/assets/timeline/timeline3.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 14:00",
            "end": "2019-01-10 16:00",
            "color": colorSet.getIndex(8),
            "icon": "/wp-content/uploads/assets/timeline/timeline2.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 16:00",
            "end": "2019-01-10 17:00",
            "color": colorSet.getIndex(7),
            "icon": "/wp-content/uploads/assets/timeline/timeline4.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 17:00",
            "end": "2019-01-10 20:00",
            "color": colorSet.getIndex(6),
            "icon": "/wp-content/uploads/assets/timeline/timeline2.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 20:00",
            "end": "2019-01-10 20:30",
            "color": colorSet.getIndex(5),
            "icon": "/wp-content/uploads/assets/timeline/timeline3.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 20:30",
            "end": "2019-01-10 21:30",
            "color": colorSet.getIndex(4),
            "icon": "/wp-content/uploads/assets/timeline/timeline3.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 21:30",
            "end": "2019-01-10 22:00",
            "color": colorSet.getIndex(3),
            "icon": "/wp-content/uploads/assets/timeline/dance.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 22:00",
            "end": "2019-01-10 23:00",
            "color": colorSet.getIndex(2),
            "icon": "/wp-content/uploads/assets/timeline/timeline5.svg"
        },
        {
            "category": "",
            "start": "2019-01-10 23:00",
            "end": "2019-01-11 00:00",
            "color": colorSet.getIndex(1),
            "icon": "/wp-content/uploads/assets/timeline/timeline6.svg"
        },
        {
            "category": "",
            "start": "2019-01-11 00:00",
            "end": "2019-01-11 01:00",
            "color": colorSet.getIndex(0),
            "text": "Damn...",
            "textDisabled": false,
            "icon": "/wp-content/uploads/assets/timeline/timeline7.svg"
        }];

        chart.fontSize = 10;
        chart.tooltipContainer.fontSize = 10;

        var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "category";
        categoryAxis.renderer.grid.template.disabled = true;
        categoryAxis.renderer.labels.template.paddingRight = 25;
        categoryAxis.renderer.minGridDistance = 10;

        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.minGridDistance = 70;
        dateAxis.baseInterval = { count: 30, timeUnit: "minute" };
        dateAxis.renderer.tooltipLocation = 0;
        dateAxis.renderer.line.strokeDasharray = "1,4";
        dateAxis.renderer.line.strokeOpacity = 0.5;
        dateAxis.tooltip.background.fillOpacity = 0.2;
        dateAxis.tooltip.background.cornerRadius = 5;
        dateAxis.tooltip.label.fill = new am4core.InterfaceColorSet().getFor("alternativeBackground");
        dateAxis.tooltip.label.paddingTop = 7;
        dateAxis.endLocation = 0;
        dateAxis.startLocation = -0.5;

        var labelTemplate = dateAxis.renderer.labels.template;
        labelTemplate.verticalCenter = "middle";
        labelTemplate.fillOpacity = 0.4;
        labelTemplate.background.fill = new am4core.InterfaceColorSet().getFor("background");
        labelTemplate.background.fillOpacity = 1;
        labelTemplate.padding(7, 7, 7, 7);

        var series = chart.series.push(new am4plugins_timeline.CurveColumnSeries());
        series.columns.template.height = am4core.percent(15);

        series.dataFields.openDateX = "start";
        series.dataFields.dateX = "end";
        series.dataFields.categoryY = "category";
        series.baseAxis = categoryAxis;
        series.columns.template.propertyFields.fill = "color"; // get color from data
        series.columns.template.propertyFields.stroke = "color";
        series.columns.template.strokeOpacity = 0;
        series.columns.template.fillOpacity = 0.6;

        var imageBullet1 = series.bullets.push(new am4plugins_bullets.PinBullet());
        imageBullet1.locationX = 1;
        imageBullet1.propertyFields.stroke = "color";
        imageBullet1.background.propertyFields.fill = "color";
        imageBullet1.image = new am4core.Image();
        imageBullet1.image.propertyFields.href = "icon";
        imageBullet1.image.scale = 0.5;
        imageBullet1.circle.radius = am4core.percent(100);
        imageBullet1.dy = -5;


        var textBullet = series.bullets.push(new am4charts.LabelBullet());
        textBullet.label.propertyFields.text = "text";
        textBullet.disabled = true;
        textBullet.propertyFields.disabled = "textDisabled";
        textBullet.label.strokeOpacity = 0;
        textBullet.locationX = 1;
        textBullet.dy = - 100;
        textBullet.label.textAlign = "middle";

        chart.scrollbarX = new am4core.Scrollbar();
        chart.scrollbarX.align = "center"
        chart.scrollbarX.width = am4core.percent(75);
        chart.scrollbarX.opacity = 0.5;

        var cursor = new am4plugins_timeline.CurveCursor();
        chart.cursor = cursor;
        cursor.xAxis = dateAxis;
        cursor.yAxis = categoryAxis;
        cursor.lineY.disabled = true;
        cursor.lineX.strokeDasharray = "1,4";
        cursor.lineX.strokeOpacity = 1;

        dateAxis.renderer.tooltipLocation2 = 0;
        categoryAxis.cursorTooltipEnabled = false;


        var label = chart.createChild(am4core.Label);
        label.text = "Another unlucky day in the office."
        label.isMeasured = false;
        label.y = am4core.percent(40);
        label.x = am4core.percent(50);
        label.horizontalCenter = "middle";
        label.fontSize = 20;

        }); // end am4core.ready()


    </script>
</body>

</html>
