{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">
    <title>{{ label }} - powered by Sirius blockchain</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="/static/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/vue.js"></script>
    <script src="https://unpkg.com/vue-scroll-loader"></script>
    {% include "libraries.html" %}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!--  Modal  -->
        <div id="modal-txn-detail" class="modal" tabindex="-1" role="dialog" style="background-color: rgba(0,0,0,0.2);overflow-y: auto;">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Transaction details</h5>
                <button @click.prevent="close_modal_forms" type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-modal-close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div id="dev-txn-detail" style="white-space: pre-wrap;border:lightgray dotted 1px;padding:5px;width: 100%; height: 100%;font-size: 75%;">
                  </div>
              </div>
              <div class="modal-footer">
                <button @click.prevent="close_modal_forms" type="button" class="btn btn-primary" >Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a @click.prevent="" class="navbar-brand" href="">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/static/assets/images/logo-icon.png" height="32px" width="32px" alt="homepage" class="dark-logo" />

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <!--<img src="/static/assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
                            Sirius blockchain
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <!--
                            <form class="app-search p-l-20">
                                <input style="width: 400px;" type="text" class="form-control" placeholder="Поиск по контейнерам и морским документам ..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                            -->
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/static/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-5" />Markarn Doe</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li v-for="(menu, index) in left_menu" v-bind:class="{ active: active_menu == index }">
                           <a v-if="menu.enabled" @click.prevent="active_menu = index" href="#" class="waves-effect"><i v-bind:class="menu.class" aria-hidden="true"></i>[[menu.caption]]</a>
                        </li>

                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row page-titles">
                    <img src="{{ logo }}" style="max-height: 50px;margin-right: 30px;"/>
                    <h1 class="text-secondary">{{ label }}</h1>
                </div>
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">[[breadcrumb]]</li>
                        </ol>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-block">
                                <form class="app-search p-l-20">
                                    <input v-model="search_ledger" style="width: 400px;" type="text" class="form-control" placeholder="Выберите Ledger ...">
                                    <a class="srh-btn" style="margin-left: -30px;"><i class="ti-search"></i></a>
                                    <a class="srh-btn" title="Добавить новый Ledger" style="margin-left: 20px;cursor:pointer;"><i class="ti-plus"></i></a>
                                </form>
                                <div id="tagsContainer">
                                 <canvas width="400" height="400" id="tagsCanvas">
                                  <p>Anything in here will be replaced on browsers that support the canvas element</p>
                                  <ul>
                                   <li v-for="ledger in filtered_ledgers">
                                       <a @click.prevent="ledger_selected(ledger)" href="" >[[ledger.name]]</a>
                                   </li>

                                  </ul>
                                 </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-block">
                                <h4 v-if="!selected_ledger" class="text-danger">Выберите Ledger для работы с транзакциями</h4>
                                <h4 v-if="selected_ledger" class="card-title text-primary">Ledger: [[selected_ledger.name]]</h4>

                                <scroll-loader :loader-method="get_loader_list" :loader-disable="!loader_enable" :loader-size="300">
                                </scroll-loader>

                                <table v-if="!loader_enable" class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col"># seq_no</th>
                                      <th scope="col">No</th>
                                      <th scope="col">Metadata</th>
                                      <th scope="col">Stations</th>
                                      <th scope="col">Cargo</th>
                                      <th scope="col">Details...</th>
                                    </tr>
                                  </thead>
                                  <tbody style="font-size: 75%;">
                                    <tr v-for="txn in transactions">
                                      <th scope="row">[[txn.seq_no]]</th>
                                      <td>[[txn.txn.no]]</td>
                                      <td>[[txn.metadata]]</td>
                                      <td>[[txn.txn.departure_station]] -> [[txn.txn.arrival_station]]</td>
                                      <td>[[txn.txn.cargo]]</td>
                                      <td><button @click.prevent="show_txn_details(txn.txn);" style="cursor: pointer;" class="btn-primary">Details</button></td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                © 2020 Networks Synergy by networks-synergy.kz
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="/static/assets/plugins/flot/jquery.flot.js"></script>
    <script src="/static/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/static/js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/static/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tagcanvas.min.js"></script>
    {{ ledgers|json_script:"ledgers-data" }}
    <script>
        var ledgers_data = JSON.parse(document.getElementById('ledgers-data').textContent);
        var app = new Vue({
            el: '#main-wrapper',
            delimiters: ['[[', ']]'],
            data: {
                scanning: false,
                ledgers: ledgers_data,
                search_ledger: null,
                selected_ledger: null,
                left_menu: [
                    {'caption': 'Транзакции', 'class': 'fa fa-columns m-r-10', 'enabled': true},
                    {'caption': 'ГУ-11', 'class': 'fa fa-table m-r-10', 'enabled': false},
                    {'caption': 'ГУ-12', 'class': 'fa fa-table m-r-10', 'enabled': false},
                    {'caption': 'Грузоперевозки', 'class': 'fa fa-globe m-r-10', 'enabled': false},
                    {'caption': 'Морские документы', 'class': 'fa fa-globe m-r-10', 'enabled': false}
                ],
                active_menu: 0,
                loader_enable: false,
                transactions: [],
            },
            computed: {
                filtered_ledgers: function(){
                    if (this.search_ledger) {
                        var ret = [];
                        for (var i = 0; i < ledgers_data.length; i++) {
                          if (ledgers_data[i].name.includes(this.search_ledger)) {
                              ret.push(ledgers_data[i]);
                          }
                        }
                        return ret;
                    }
                    else {
                        return ledgers_data;
                    }
                },
                breadcrumb: function(){
                    return this.left_menu[this.active_menu].caption
                }
            },
            watch: {
                search_ledger: function (new_value, old_value) {
                    setTimeout(function() {
                        $("#tagsCanvas").tagcanvas("update");
                        if (new_value.length > 0) {
                            $("#tagsCanvas").tagcanvas("tagtofront", {id: new_value[0].name});
                        }
                    }, 100);
                },
                selected_ledger: function(new_value, old_value){
                    if (new_value) {
                        this.search_ledger = null;
                    }
                }
            },
            methods: {
                ledger_selected: function(ledger){
                    this.selected_ledger = ledger;
                    this.load_transactions(ledger.id);
                },
                get_loader_list: function(){
                    return [];
                },
                load_transactions: function(ledger_id){
                    this.loader_enable = true;
                    this.transactions = [];
                    var url = "/ledgers/" + ledger_id + "/transactions"
                    var self = this;
                    $.get(
                        url,
                        function(resp){
                            //console.log(resp);
                            self.transactions = resp.results;
                            self.loader_enable = false;
                        }
                    );
                },
                close_modal_forms: function(){
                    $("#modal-txn-detail").hide();
                },
                show_txn_details: function(txn) {
                    $("#dev-txn-detail").html(library.json.prettyPrint(txn));
                    $("#modal-txn-detail").show();
                }
            }
        });

        $(function(){
            if( ! $('#tagsCanvas').tagcanvas({
                 textColour : 'black',
                 outlineThickness : 1,
                 maxSpeed : 0.03,
                 depth : 0.75,
                 shape: "hcylinder",
                 lock: 'x'
               })) {
                 // failed to load
                 $('#tagsContainer').hide();
               }
        });


    </script>
</body>

</html>
